@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla+Tamil+Upright:wght@400;700&display=swap');
.kukushka {
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    height: 60px;
    background-color: red;
    justify-content: left;
    gap: 10px;
    width: 100%;
    align-items: center;
   text-decoration: none;
}
.kukushka img {
height: 35px;
}
body {
    margin: 0;
    font-family: Karla Tamil Upright, sans-serif;
   
   
}
.main {
    padding-top: 10px;
    display: flex;
    align-items: center;
   gap: 20px;
   background-color: red;
   height: 60px;
}
.main > a {
    text-decoration: none;
    color: black;
    justify-content: right;
}
.header {
    display: flex;
}
.main img {
    height: 50px;
    justify-content: right;
    width: 50px;
}
.gg  {
    display: block;
    padding-top: 0;
    background-color: red;
}
.knopochka {
display: none;
position: absolute;
}
.gg:hover .knopochka {
    display: block;
    background-color: red;
    padding-top: 25px;
}
.reg {
    display: flex;
    padding-top: 300px;
    font-size: 60px;
    font-weight: bold;
    height: 50px;
    width: 100%;
}

  .container {
    padding-top: 600px;
  }
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: aqua;
  }
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
 
  .registerbtn {
    background-color: black;
    color: aqua;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  
